/*Vars*/
:root {
  --d_black: #29353d;
  --black: hsl(204, 20%, 20%);
  --light_black: #242f36;
  --white: #ffffff;
  --off_white: #efefef;
  --green: #449c4f;
  --light_green: #3ec951;
  --orange: #cc5500;
  --light_orange: #e98136;
}

/*Desktop nav*/
.d-active {
  display: flex;
}

.logo-anchor {
  display: flex;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 999;
}

.navbar-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px 0 150px;
}

.logo {
  height: 50px;
  width: auto;
  transition: all 0.25s ease;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.nav-link {
  display: flex;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  transition: opacity 0.25s ease;
}

.nav-link::after {
  content: "";
  transform-origin: center;
  transform: scaleX(0);
  height: 2.5px;
  width: 100%;
  background: var(--white);
  position: absolute;
  bottom: -6px;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

/*Mobile nav*/
.m-active {
  display: none;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
}

.mobile-nav-link {
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  transition: opacity 0.25s ease;
}

.mobile-nav-link::after {
  content: "";
  width: 0;
  height: 3px !important;
  background: var(--white);
  position: absolute;
  bottom: -6px;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease;
}

.mobile-nav-link:hover::after {
  opacity: 1;
  width: 100%;
}

#ham {
  height: 14px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-lines {
  height: 2.5px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--white);
}

#line1 {
  transform-origin: center;
  position: relative;
  z-index: 1;
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

#line2 {
  transform-origin: center;
  position: relative;
  z-index: 0;
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

#mobile-tabs {
  display: none;
  justify-content: flex-start;
  background-color: var(--black);
  top: 60px;
  width: 100vw;
  height: 100vh;
  margin-top: -1px;
  position: fixed;
  opacity: 0;
  z-index: 999;
  transform: translate(100%, 0);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.mobile-nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-links li {
  padding: 0 0 25px 30px;
}

.mobile-nav-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
}

.mobile-nav-left {
  display: flex;
  align-items: center;
}

/*Responsiveness*/
@media only screen and (max-width: 1250px) {
  .navbar-content {
    padding: 0 50px 0 50px;
    width: calc(100vw - 100px);
  }

  .nav-link {
    font-size: 16px;
  }

  .logo {
    transform: scale(0.85);
  }

  .basket {
    width: 25px;
  }
}

@media only screen and (max-width: 825px) {
  .d-active {
    display: none;
  }

  .m-active {
    display: flex;
  }

  #mobile-tabs {
    display: flex;
  }

  .navbar-content {
    padding: 0 30px 0 30px;
    background-color: var(--black);
    width: calc(100vw - 40px);
  }

  .logo {
    width: 125px;
    height: auto;
  }
}
