#sign-in-sign-up {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 160px);
    padding: 50px 0 50px 0;
  }
  
  .sign-in-sign-up-container {
    padding: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 5px 5px 25px hsla(0, 0%, 65%, 15%);
    width: 450px;
  }
  
  .header-text {
    color: var(--black);
    font-weight: 600;
    font-size: 26px;
    line-height: 25px;
    padding-bottom: 25px;
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid hsla(204, 20%, 20%, 15%);
  }
  
  .input-field {
    margin: 25px 0 25px 0;
    position: relative;
  }
  
  .sign-in-sign-up-container form {
    width: 100%;
  }
  
  .input-field input {
    border: none;
    background-color: hsl(204, 20%, 93%);
    color: hsl(204, 20%, 40%);
    font-size: 18px;
    padding: 12px 20px 12px 50px;
    border-radius: 35px;
    outline: none;
    width: calc(100% - 70px);
  }
  
  /*autofill style*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    border: none;
    -webkit-text-fill-color: hsl(204, 20%, 40%);
    -webkit-box-shadow: 0 0 0px 1000px hsl(204, 20%, 92%) inset;
  }
  
  .input-field input:focus::placeholder {
    color: transparent;
  }
  
  .input-icon {
    color: hsl(204, 20%, 70%);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    pointer-events: none;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    color: hsl(204, 20%, 40%);
    font-size: 16px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
  }
  
  .remember-me input[type="checkbox"] {
    display: none;
  }
  
  .remember-me input[type="checkbox"] + .remember-me-txt::before {
    content: "\f096";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    color: hsl(204, 20%, 70%);
  }
  
  .remember-me input[type="checkbox"]:checked + .remember-me-txt::before {
    content: "\f14a";
  }
  
  .form-btn {
    background-color: var(--orange);
    color: #fff;
    padding: 12px;
    border-radius: 35px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
    outline: none;
    border: none;
  }
  
  .form-btn:hover {
    opacity: 0.85;
  }
  
  .black {
    background-color: hsl(204, 20%, 35%);
  }
  
  .form-or-container {
    border-top: 1px solid hsla(204, 20%, 20%, 15%);
    margin-top: 25px;
    width: 100%;
    text-align: center;
    position: relative;
  }
  
  .form-or {
    background-color: #fff;
    text-transform: uppercase;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0 15px 0 15px;
  }
  
  @media only screen and (max-width: 650px) {
    .sign-in-sign-up-container {
      padding: 0 25px 0 25px;
      width: 100%;
      border-radius: 0;
      height: calc(100vh - 160px);
      display: flex;
      justify-content: flex-start;
      box-shadow: none;
      overflow: hidden;
    }
  
    .input-field input {
      font-size: 16px;
    }
  
    .form-btn {
      font-size: 18px;
    }
  
    #sign-in-sign-up {
      background-color: #fff;
    }
  }
  
  @media only screen and (max-height: 650px) {
    .sign-in-sign-up-container {
      width: 100%;
      height: calc(100vh - 60px);
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  
  }
  