.cart-container {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.cart-pen-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: space-around;
  align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 25px 0 0 0;
  margin-top: -1px;
}

.cart-pen-img-and-name {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.cart-pen-item-name {
  color: var(--black);
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cart-pen-item-color {
  text-transform: lowercase;
  color: var(--black);
  font-weight: 500;
  font-size: 1.25rem;
}

.cart-pen-item-price {
  color: var(--black);
  font-weight: 500;
  font-size: 1.25rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.cart-pen-img {
  height: 75px !important;
  width: 75px !important;
}

.cart-pen-item {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 15% 60% 25%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 25px 0 25px 0;
}

.cart-pen-delete {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.cart-pen-delete i {
  color: var(--black);
  font-size: 1.1rem;
  cursor: pointer;
}

.cart-pen-container-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 0 25px 0;
}

.qty-input {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 500;
}

.qty-input-value {
  width: 55px;
  margin-left: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0 5px 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: hsl(204, 20%, 40%);
  text-align: center;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: hsl(204, 20%, 92%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cart-content-footer {
  margin: 25px 0 25px 0;
  display: -webkit-box;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 37.2px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.next-btn-icon {
  margin-left: 10px;
  font-size: 0.9rem;
}

.prev-btn-icon {
  margin-right: 8px;
  font-size: 0.9rem;
}

.cart-prev-btn {
  font-weight: 500;
  margin: 0;
  margin-right: auto;
}

.cart-next-btn {
  font-weight: 500;
  margin: 0;
}

.cart-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.reversed {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.checkout-nav {
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.checkout-states {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  list-style: none;
  font-size: 1rem;
  margin: -12.5px 0px 0px 0px !important;
  padding: 0;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.checkout-state-link {
  color: var(--black);
  font-weight: 500;
  padding: 12.5px 0 12.5px 0;
  display: -webkit-box;
  display: flex;
  opacity: 0.5;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.active-checkout-state {
  opacity: 1;
}

.checkout-state-icon {
  font-size: 0.8rem;
  color: var(light_black);
}

.checkout-state-icon-container {
  width: 12.5px !important;
  height: 12.5px !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 0.5;
  padding: 0 12.5px 0 12.5px;
}

.hidden {
  display: none !important;
}

.mobile-prev-btn {
  font-size: 1rem;
  color: var(--black);
  opacity: 0.8;
  display: none;
  cursor: pointer;
  font-weight: 500;
}

.mobile-prev-icon {
  opacity: 0.8;
  color: var(--black);
  font-size: 0.9rem;
  margin-right: 10px;
}

.cart-action {
  margin-top: 25px;
  width: 150px !important;
}

@media only screen and (max-width: 850px) {
  .cart-pen-item-name {
    font-size: 0.9rem;
    margin-left: 12.5px;
  }

  .cart-pen-item-color {
    font-size: 0.9rem;
  }

  .cart-pen-item-price {
    font-size: 0.9rem;
    padding-left: 12.5px;
  }

  .mobile-prev-btn {
    display: block;
    margin-right: auto;
  }

  .cart-pen-img {
    height: 45px !important;
    width: 45px !important;
  }

  .cart-pen-item-name {
    font-size: 0.8rem !important;
  }

  .cart-pen-item-price {
    font-size: 0.8rem !important;
  }

  .cart-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .checkout-states {
    width: 100%;
  }

  .next-btn-icon {
    font-size: 0.6rem !important;
  }

  .mobile-prev-btn {
    font-size: 0.8rem !important;
  }

  .order-total-text {
    font-size: 0.8rem !important;
  }

  .qty-input {
    font-size: 0.8rem !important;
  }

  .qty-input-value {
    font-size: 0.8rem !important;
  }

  .mobile-prev-icon {
    font-size: 0.6rem !important;
  }

  .cart-pen-container {
    padding: 25px 0 0 0;
  }

  .checkout-nav {
    margin: 0 12.5px 0 12.5px;
    width: calc(100% - 50px);
    -webkit-box-pack: center;
    justify-content: center;
  }

  .profile-change-password {
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  .bold {
    font-size: 0.8rem !important;
  }

  .cart-content-footer {
    margin: 25px;
    padding: 0;
    width: calc(100% - 50px);
    font-size: 1rem;
    font-weight: 500;
  }

  .dashboard-nav-container {
    margin: 0 25px 0 25px;
    width: calc(100% - 50px);
  }

  .cart-container {
    margin: 0 25px 0 25px;
    width: calc(100% - 50px);
    border-bottom: 0px;
  }

  .cart-prev-btn {
    display: none;
  }

  .cart-action {
    margin-top: 0;
    font-size: 1.1rem;
  }

  .cart-next-btn {
    margin-top: 0;
    font-size: 0.8rem;
  }

  .checkout-state-link {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 380px) {
  .cart-content-footer {
    margin: 25px 12.5px !important;
  }
}
