.focused-order-container {
  height: 100%;
  width: 100%;
  margin-top: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
}

.focused-order-top {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 42px;
  margin-bottom: 25px;
}

.focused-back {
  cursor: pointer;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12.5px 10px 12.5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 5px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  margin-left: -12.5px;
}

.focused-back:hover {
  background-color: #e7ebef;
}

.focused-back-icon {
  color: var(--black);
  font-size: 14px;
  margin-right: 8px;
  opacity: 0.85;
}

.second {
  display: inline-block;
}

.focused-order-info {
  display: -webkit-box;
  display: flex;
  padding-bottom: 25px;
}

.focused-order {
  width: 100%;
}

.focused-order-info-client {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 50%;
  padding-right: 12.5px;
}

.order-info-summary {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 50%;
  padding-left: 12.5px;
}

.focused-order-sub-header {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 12.5px;
}

.order-bill {
  border-top: 1px solid #e9ebf1;
  padding-top: 25px;
  display: -webkit-box;
  display: flex;
}

.focused-order-items {
  margin-top: 12.5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.focused-order-item-info {
  display: grid;
  grid-template-columns: 15% 50% 25% 10%;
  margin: 12.5px 0 12.5px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.items {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.order-header {
  padding: 0;
  margin-bottom: 12.5px;
}

.focused-order-img-container {
  display: -webkit-box;
  display: flex;
}

.focused-order-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.focused-order-item-price {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;
}

.focused-order-item-qty {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 12.5px;
}

.focused-order-qty {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.focused-order-item-name {
  padding-left: 12.5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.focused-order-total {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  width: 100%;
  padding: 25px 0 25px 0;
}

.focused-order-total span {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
}

@media only screen and (max-width: 850px) {
  .focused-order-container {
    margin-top: 0;
  }
}
