.orders-section {
  height: 100%;
  width: 100%;
}

.columns-names {
  font-size: 1.25rem;
  color: var(--black);
  font-weight: 600;
  padding-bottom: 12.5px;
  border-bottom: 1px solid #efefef;
}

.columns-names ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.info-col {
  width: 30%;
}

.details-col {
  width: 40%;
}

.status-col {
  width: 30%;
  text-align: right;
}

.orders {
  display: flex;
  flex-direction: column-reverse;
  font-size: 1rem;
  color: var(--black);
  font-weight: 500;
}

.order {
  display: flex;
  flex-direction: column;
  margin: 12.5px 0 0 0;
  padding-bottom: 12.5px;
  border-bottom: 1px solid #efefef;
}

.order-cols {
  display: flex;
}

.order-details {
  display: flex;
  flex-direction: column;
}

.order-details-icon {
  font-size: 0.65rem;
  color: var(--black);
  margin-left: 8px;
}

.order-more-details {
    transform: scaleY(0);
    height: 0;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    transform-origin: top;
}

.order-more-details-container span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.order-more-details-btn {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--black);
    opacity: 0.5;
    transition: all 0.15s ease;
    width: max-content;
}

.order-more-details-btn:hover {
    opacity: 0.7;
}

.more-details-breakdown {
    margin: 0;
    width: 100%;
}

.item-more-details {
    opacity: 1;
    margin-bottom: 0;
    font-size: 0.8rem;
}

.more-details-item-txt {
    font-size: 0.9rem;
}

.more-details-container {
    margin: 12.5px 0 12.5px 0;
    padding-bottom: 12.5px;
    width: 100%;
}

@media only screen and (max-width: 825px) {
  .orders-section {
    margin: 0 12.5px 0 12.5px;
    width: calc(100% - 25px);
  }

  .columns-names {
    font-size: 0.95rem;
  }

  .orders {
    font-size: 0.75rem;
  }

  .info-col {
    width: 33.33%;
  }

  .details-col {
    width: 33.33%;
  }

  .status-col {
    width: 33.33%;
  }
}
