.profile-attribute {
  margin: 50px 0 50px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.profile-attribute-name {
  color: hsl(204, 20%, 55%);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 160px;
}

.profile-attribute-state {
  color: hsl(204, 20%, 40%);
  font-size: 1.15rem;
  font-weight: 400;
  margin-left: 25px;
  background-color: hsl(204, 20%, 92%);
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
}

.profile-attribute-state-uneditable {
  color: var(--black);
  font-size: 1.15rem;
  font-weight: 500;
  margin-left: 25px;
}

.fa-edit {
  color: hsl(204, 20%, 60%);
  margin-left: 15px;
  cursor: pointer;
}

.profile-change-password {
  background-color: var(--orange);
  color: #fff;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 25px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.profile-change-password:hover {
  opacity: 0.85;
}

.fullName {
  text-transform: capitalize;
}

@media only screen and (max-width: 850px) {
  .profile-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .profile-attribute {
    margin: 12.5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }

  .profile-change-password {
    font-size: 0.8rem !important;
  }

  .profile-attribute-state {
    margin: 0;
    font-size: 0.95rem;
  }

  .profile-attribute-name {
    margin-bottom: 10px;
    font-size: 0.85rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .profile-attribute-state-uneditable {
    margin: 0;
    font-size: 0.95rem;
    line-height: 47.2px;
  }

  .profile-attribute-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .profile-attribute-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .profile-change-password {
    margin-bottom: 12.5px;
  }
}
