.nav-user-links {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  letter-spacing: 0.35px;
  margin: 0 12.5px 0 12.5px;
  position: relative;
  cursor: pointer;
}

.nav-user-links::after {
  content: "";
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  width: 100%;
  background: var(--white);
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.nav-user-links:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}

.nav-user-icons {
  font-size: 0.9rem;
  color: #fff;
  opacity: 0.9;
  padding-left: 8px;
}

.nav-user-mobile-icon {
  display: none;
  font-size: 1.2rem;
  color: #fff;
  opacity: 1;
}

.nav-user-mobile {
  width: 0px;
  position: relative;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
}

.mobile-user-link {
  text-decoration: none;
  width: 25px !important;
  display: none;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
}

.cart-notif {
  position: relative;
}

.cart-length {
  position: absolute;
  background-color: var(--orange);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}

.mobile-items-bubble {
  background-color: var(--orange);
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 2.5px;
  font-weight: 600;
  top: -5px;
  right: -5px;
}

@media only screen and (max-width: 1250px) {
  .nav-user-links {
    font-size: 14px;
  }

  .nav-user-icons {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 850px) {
  .nav-user-mobile-icon {
    display: block;
  }

  .nav-user-mobile {
    width: 25px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .mobile-user-link {
    display: -webkit-box;
    display: flex;
  }

  .nav-user-links {
    display: none;
  }
}
