/*perks*/
.perks {
    margin: -100px 150px 0 150px;
    background: var(--white);
    border-radius: 10px;
    height: max-content;
    padding: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    }
    
    .perks h1 {
      color: var(--black);
      text-align: center;
      font-size: calc(1.8rem + 1vw);
      margin: 0 0 50px 0;
    }
    
    .perks-icons {
      display: flex;
      justify-content: space-between;
    }
    
    .perks-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px;
      width: 200px;
    }
    
    .perks-block img {
      width: 125px;
      height: auto;
    }
    
    
    .perks-block span {
      text-align: center;
      color: var(--light_black);
      font-weight: 500;
      font-size: calc(0.75rem + 1vw);
      margin-top: 25px;
    }

    /*Responsiveness*/
@media only screen and (max-width: 1250px) {
    .perks {
      margin-top: -50px;
      margin-left: 50px;
      margin-right: 50px;
      padding: 50px;
    }
    
    .perks-block img {
      height: 100px;
      width: auto;
    }
  }
  
  @media only screen and (max-width: 850px) {
    .perks {
      margin: 0;
      padding: 40px;
      border-radius: 0;
    }
  
    .perks h1 {
      font-size: calc(1.1rem + 1vw);
      margin-bottom: 10px;
    }
  
  }
  
  @media only screen and (max-width: 600px) {
    .perks {
      align-items: center;
    }
  
    .perks-block img {
      height: 75px;
      margin-right: 20px;
      width: auto;
    }
  
    .perks-block {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      height: min-content;
    }
  
    .perks-icons {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  
    .perks-block span {
      margin: 0;
      font-size: calc(0.8rem + 1vw);
      width: 135px;
      text-align: left;
    }
  }