.cvs {
  background-color: var(--off_white);
}

.app-wrapper {
  width: 100vw;
  height: calc(100vh - 60px);
  margin-top: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.cvs-app {
  width: 100%;
  height: 100%;
}

.cvs-scrollable-section {
  position: relative;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-flex: 5;
  flex-grow: 5;
}

.materials-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin-top: 80px;
  flex-wrap: wrap;
  width: 100%;
  padding: 25px;
  height: auto;
}

.unscrollable {
  overflow: hidden;
}

.materials {
  display: grid;
  grid-template-columns: 50% 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.cvs-thumbnails-wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.material-thumbnail {
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  width: auto;
  line-height: 30px;
  box-shadow: 0px 15px 45px rgba(50, 50, 93, 0.041),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  margin: 25px;
  padding: 20px;
}

.material-img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.thumbnail-img-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 11vw;
  height: 10vw;
  max-width: 160px;
  max-height: 125px;
  min-width: 109px;
  min-height: 85px;
  padding-right: 20px;
  position: relative;
}

.globe {
  font-size: 0.9rem;
  color: hsl(0, 0%, 65%);
  -webkit-transition: all 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  margin-right: 8px;
}

.thumbnail-img-link:hover > i {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
  color: #797979;
}

.thumbnail-img-container a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.material-thumbnail-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.material-thumbnail-content-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 12.5px;
  line-height: calc(0.75rem + 0.4vw);
}

.material-thumbnail-content-top a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.material-thumbnail-content-mid {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}

.material-thumbnail-content-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.material-origin {
  font-weight: 500;
  font-size: calc(0.6rem + 0.4vw);
  margin: 5px 0 5px 0;
  line-height: 25px;
  color: #797979;
  display: block;
  max-width: 270px;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
}

.fa-plus {
  color: #29353d;
  font-size: calc(0.9rem + 0.4vw);
  cursor: pointer;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.fa-heart {
  color: rgb(207, 49, 49);
  font-size: calc(0.9rem + 0.4vw);
  cursor: pointer;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-animation-name: onclick; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
  animation-name: onclick;
  animation-duration: 0.25s;
}

@-webkit-keyframes onclick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes onclick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.material-price {
  font-weight: 600;
  font-size: calc(1.1rem + 0.4vw);
  color: #393939;
}

.material-name {
  color: hsl(0, 0%, 20%);
  font-weight: 500;
  font-size: calc(0.75rem + 0.4vw);
  max-width: 250px;
}

.cvs-header {
  top: 0;
  width: calc(100% - 100px);
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding: 0 50px 0 50px;
  z-index: 2;
  background: var(--white);
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0px 15px 45px rgba(32, 32, 59, 0.041),
    0px 5px 15px rgba(36, 36, 36, 0.041);
}

.fa-shopping-cart {
  font-size: 1.25rem;
}

.cvs-temp {
  width: 100%;
  height: 100%;
  position: relative;
}

/*Responsiveness*/
@media only screen and (max-width: 1400px) {
  .materials {
    grid-template-columns: 100%;
  }
  .app-wrapper {
    width: 100%;
  }

  .material-origin {
    max-width: auto;
  }
}

@media only screen and (max-width: 850px) {
  .app-wrapper {
    height: calc(100vh - 60px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .cvs-scrollable-section {
    width: 100%;
  }

  .material-origin {
    max-width: 270px;
  }

  .cvs-header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0 25px 0 25px;
    width: calc(100% - 50px);
    position: fixed;
    top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .materials-wrapper {
    padding: 25px 0 0 0;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: 112.5px;
  }
  .material-thumbnail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 0;
  }
  .material-desc {
    padding: 25px 25px 25px 0;
  }
  .cvs-building-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .cvs-thumbnails-wrapper {
    display: none;
  }

  .materials {
    margin-bottom: 60px;
  }
}
