.hardwares-wrapper {
  margin-top: 80px;
  width: calc(100% - 100px);
  height: calc(100% - 180px);
  padding: 50px;
}

.hardware-img {
  height: 250px;
  width: auto;
}

.hardware-thumbnail {
  background-color: var(--white);
  border-radius: 8px;
  width: calc(70% - 50px);
  height: calc(100% - 50px);
  box-shadow: 0px 15px 45px rgba(50, 50, 93, 0.041),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  padding: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.hardwares {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.hardware-thumbnail-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
}

.hardware-thumbnail-mid {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 150px;
}

.hardware-thumbnail-mid-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 25px 0 25px;
}

.hardware-thumbnail-mid-notice {
  color: #9eacb2;
  font-style: italic;
  font-size: calc(0.45rem + 0.4vw);
  padding-right: 15px;
}

.hardware-thumbnail-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid #e7e7e7;
  padding-top: 25px;
  margin-top: 25px;
}

.hardware-color {
  color: hsl(0, 0%, 20%);
  font-weight: 500;
  font-size: calc(0.9rem + 0.4vw);
}

.hardware-price {
  font-weight: 600;
  font-size: calc(1.1rem + 0.4vw);
  color: #393939;
}

.hardware-thumbnail-top a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.haws-nav-arrow {
  font-size: 2.2rem;
  color: #29353d;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.haws-nav-arrow:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hardware-thumbnail-mid-nav {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.haws-icon-container {
  z-index: 0;
}

@media only screen and (max-height: 650px) {
  .hardware-thumbnail {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 850px) {
  .hardwares-wrapper {
    padding: 25px;
    width: calc(100% - 50px);
    margin-top: 112.5px;
    height: calc(100% - 110px);
  }

  .hardwares {
    height: 100%;
  }

  .hardware-thumbnail {
    overflow-y: hidden;
    height: calc(100% - 145px);
    width: calc(100% - 50px);
  }

  .hardware-thumbnail-mid-notice {
    color: #9eacb2;
    font-style: italic;
    font-size: calc(0.4rem + 0.4vw);
  }

  .hardware-thumbnail-bottom {
    padding-top: 15px;
    margin-top: 15px;
  }

  .hardware-thumbnail-top {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .hardware-color {
    font-size: calc(0.9rem + 0.4vw);
  }

  .hardware-thumbnail-mid-img {
    width: 80%;
  }

  .haws-nav-arrow {
    font-size: 1.8rem;
  }

  .haws-nav-arrow:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  @media only screen and (max-height: 600px) {
    .hardware-thumbnail {
      overflow-y: scroll;
    }
  }
}
