.hardwares-wrapper {
  margin-top: 80px;
  width: calc(100% - 100px);
  height: calc(100% - 180px);
  padding: 50px;
}

.hardware-img {
  height: 250px;
  width: auto;
}

.hardware-thumbnail {
  background-color: var(--white);
  border-radius: 15px;
  width: calc(70% - 50px);
  height: calc(100% - 50px);
  box-shadow: 0px 15px 45px rgba(50, 50, 93, 0.041),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hardwares {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hardware-thumbnail-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e7e7e7;
}

.hardware-thumbnail-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 150px;
}

.hardware-thumbnail-mid-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hardware-thumbnail-mid-notice {
  color: #9eacb2;
  font-style: italic;
  font-size: calc(0.45rem + 0.4vw);
  padding-right: 15px;
}

.hardware-thumbnail-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding-top: 25px;
  margin-top: 25px;
}

.hardware-color {
  color: hsl(0, 0%, 20%);
  font-weight: 500;
  font-size: calc(0.9rem + 0.4vw);
}

.hardware-price {
  font-weight: 600;
  font-size: calc(1.1rem + 0.4vw);
  color: #393939;
}

.fa-palette {
  margin-right: 20px;
  color: #FFFFFF;
  font-size: calc(0.75rem + 0.4vw);
  position: relative;
  z-index: 1;
}

.fa-palette::after {
  content: "";
  width: 180%;
  height: 180%;
  position: absolute;
  top: -40%;
  left: -40%;
  background-color: #29353D;
  border-radius: 50%;
  z-index: -1;
}

.haws-nav-arrow {
  font-size: 2rem;
  color: #D4D4D4;
  cursor: pointer;
}

.haws-nav-arrow-active {
  font-size: 2rem;
  color: #667077;
  cursor: pointer;
}

.hardware-thumbnail-mid-nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.haws-icon-container {
  z-index: 0;
}

@media only screen and (max-height: 650px) {
  .hardware-thumbnail {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 825px) {
  .hardwares-wrapper {
    padding: 25px;
    width: calc(100% - 50px);
    margin-top: 60px;
    height: calc(100% - 110px);
  }

  .hardwares {
    height: 100%;
  }

  .hardware-thumbnail {
    overflow-y: hidden;
    height: 100%;
    width: calc(100% - 50px);
  }

  .hardware-thumbnail-mid-notice {
    color: #9eacb2;
    font-style: italic;
    font-size: calc(0.4rem + 0.4vw);
  }

  .hardware-thumbnail-bottom {
    padding-top: 15px;
    margin-top: 15px;
  }

  .hardware-thumbnail-top {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .hardware-color {
    font-size: calc(0.9rem + 0.4vw);
  }

  .fa-palette {
    font-size: calc(0.9rem + 0.4vw);
  }

  .hardware-thumbnail-mid-img {
    width: 80%;
  }

  @media only screen and (max-height: 600px) {
    .hardware-thumbnail {
      overflow-y: scroll;
    }
  }
}
