.footer-section {
  width: calc(100% - 50px);
  border-top: 5px solid var(--light_black);
  background-color: var(--black);
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 25px;
}

.red {
  color: rgb(245, 14, 14);
}

.madeby-link {
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  opacity: 0.65;
  margin-top: 12.5px;
}

.madeby {
  display: -webkit-inline-box;
  display: inline-flex;
}

.madeby-icon {
  color: var(--black);
  position: relative;
  z-index: 10;
  height: 25px;
  width: 25px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 12.5px 6.25px;
}

.madeby-icon::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  cursor: pointer;
}
