.cvs-state {
  font-size: calc(0.5rem + 1vw);
  font-weight: 500;
  color: #29353d;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.cvs-search-box:hover > .cvs-search-bar {
  width: 200px;
  padding-left: 8px;
  opacity: 1;
}

.cvs-search-box:hover {
  background-color: #efefef;
}

.cvs-search-bar {
  border: none;
  background: none;
  margin-left: 0;
  float: left;
  padding: 0;
  font-size: 16px;
  outline: none;
  color: rgb(109, 109, 109);
  width: 0;
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  width: 0;
  line-height: 30px;
  opacity: 0;
}

#sort {
  display: none;
  margin-left: 8px;
  color: rgb(170, 170, 170);
  font-size: 0.8rem;
}

.cvs-top-filtername {
  display: none;
  font-size: 18px;
  color: var(--black);
  font-weight: 500;
}

.back {
  font-size: 1.25rem;
  color: #29353d;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}

.cvs-header-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.mobile-cvs-header {
  display: none;
}

.mobile {
  display: none;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

@media only screen and (max-width: 850px) {
  .cvs-state {
    font-size: 18px;
    cursor: pointer;
  }

  .cvs-header-row {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  #sort {
    display: block;
  }

  .cvs-top-filtername {
    display: block;
  }

  .back {
    display: block;
  }

  .mobile-cvs-header {
    display: -webkit-box;
    display: flex;
  }

  .sub-total {
    display: none;
  }

  .sub-total-container {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    line-height: 18px !important;
    margin-top: 0 !important;
  }

  .sub-total-value {
    margin: 0 !important;
  }

  .cvs-nav-container {
    width: 100% !important;
  }

  .cvs-btn {
    margin-bottom: 0 !important;
  }

  .mobile {
    display: -webkit-box;
    display: flex;
  }
}
