.monitor {
  height: auto;
  width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.gear {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: translate3d(25%, 5px, 0) rotate(0deg);
  transform: translate3d(25%, 5px, 0) rotate(0deg);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.under-dev {
  height: calc(100vh - 60px);
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.under-dev-header {
  color: var(--black);
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: 500;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate3d(25%, 5px, 0) rotate(0deg);
    transform: translate3d(25%, 5px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(25%, 5px, 0) rotate(360deg);
    transform: translate3d(25%, 5px, 0) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate3d(25%, 5px, 0) rotate(0deg);
    transform: translate3d(25%, 5px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(25%, 5px, 0) rotate(360deg);
    transform: translate3d(25%, 5px, 0) rotate(360deg);
  }
}

.under-dev-animation {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 350px;
}

@media only screen and (max-width: 850px) {
  .under-dev-animation {
    width: 200px;
  }

  .monitor {
    width: 200px;
  }

  .gear {
    height: 50px;
    width: 50px;
  }

  .under-dev-header {
    font-size: 1.15rem;
  }
}
