.cvs-landing {
    margin: 50px 250px 50px 250px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.cvs-features-header {
    font-size: 36px;
    color: var(--black);
    font-weight: 600;
    position: relative;
    margin: 0 0 25px 0;
    transition: all .25s ease-in-out;
}

.cvs-feature-header-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    padding-left: 25px;
}

.cvs-features-header::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: -25px;
    top: 0;
    background-color: var(--light_orange);
    border-radius: 1px;
}


.csv-landing-header {
    font-size: 36px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 12.5px;
    width: 100%;
    text-align: left;
    margin-top: 100px;
}

.cvs-features-header-icon {
    color: var(--black);
    font-size: 24px;
    opacity: 0.7;
    margin-left: 12.5px;
}


.cvs-landing-header-text {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    color: hsl(201, 7%, 41%);
    margin-bottom: 50px;
    text-align: justify;
}

.cvs-landing-features {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cvs-landing-feature {
    display: flex;
    padding-right: 25px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0px 15px 45px rgba(50, 50, 93, 0.041),
    0px 5px 15px rgba(0, 0, 0, 0.07);
}

.cvs-landing-feature-name {
    font-weight: 600;
    color: var(--black);
    margin-bottom: 12.5px;
    font-size: 18px;
}

.cvs-landing-feature-text {
    color: hsl(201, 7%, 41%);
    font-weight: 400;
    font-size: 18px;
    padding-right: 25px;
}

.feature-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 12.5px;
}

.f1 {
    margin: 0 12.5px 12.5px 0;
}

.f2 {
    margin: 0 0 12.5px 12.5px;
}

.f3 {
    margin: 12.5px 12.5px 0 0;
}

.f4 {
    margin: 12.5px 0 0 12.5px;
}

@media only screen and (max-width: 1250px) {
    .cvs-landing {
        margin: 50px;
    }
}

@media only screen and (max-width: 850px) {
    .cvs-landing {
        margin: 25px 25px 50px 25px;
        padding: 0;
    }

    .cvs-landing-features {
        grid-template-columns: 100%;
    }

    .cvs-landing-feature-text {
        padding-right: 0;
    }

    .cvs-features-header-icon {
        font-size: 18px;
    }

    .bottom-feature {
        margin-bottom: 25px;
    }

    .csv-landing-header {
        font-size: 24px;
        margin-top: 50px
    }

    .cvs-landing-header-text {
        font-size: 16px;
        padding-right: 0;
        margin-bottom: 25px;
    }

    .cvs-landing-feature-name {
        font-size: 16px;
    }
    
    .cvs-landing-feature-text {
        font-size: 16px;
    }

    .cvs-features-header {
        font-size: 24px;
        margin: 25px 0 12.5px 0;
    }

    .cvs-features-header::before {
        width: 3px;
        left: -12.5px;
    }

    .cvs-feature-header-container {
        padding-left: 12.5px;
    }
    

    .f1 {
        margin: 12.5px 0 12.5px;
    }
    
    .f2 {
        margin: 12.5px 0 12.5px;
    }
    
    .f3 {
        margin: 12.5px 0 12.5px;
    }
    
    .f4 {
        margin: 12.5px 0 12.5px;
    }
}