.cvs-landing {
    margin: 50px 250px 50px 250px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.csv-landing-header {
    font-size: 36px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 12.5px;
    width: 100%;
    text-align: left;
}

.cvs-landing-header-text {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    color: hsl(201, 7%, 41%);
    margin-bottom: 50px;
    text-align: justify;
    padding: 0 100px 0 0;
}

.cvs-landing-features {
    display: grid;
    grid-template-columns: 50% 50%;
}

.cvs-landing-feature {
    display: flex;
    padding-right: 25px;
    margin-bottom: 25px;
    flex-direction: column;  
}

.cvs-landing-feature-name {
    font-weight: 600;
    color: var(--black);
    margin-bottom: 12.5px;
    font-size: 18px;
}

.cvs-landing-feature-text {
    color: hsl(201, 7%, 41%);
    font-weight: 400;
    font-size: 18px;
    padding-right: 25px;
}

.feature-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 12.5px;
}

.bottom-feature {
    margin-bottom: 0;
}

@media only screen and (max-width: 1250px) {
    .cvs-landing {
        margin: 50px;
    }
}

@media only screen and (max-width: 850px) {
    .cvs-landing {
        margin: 50px 25px 50px 25px;
        padding: 0;
    }

    .cvs-landing-features {
        grid-template-columns: 100%;
    }

    .cvs-landing-feature-text {
        padding-right: 0;
    }

    .bottom-feature {
        margin-bottom: 25px;
    }

    .csv-landing-header {
        font-size: 24px;
        text-align: center;
    }

    .cvs-landing-header-text {
        font-size: 16px;
        padding-right: 0;
    }

    .cvs-landing-feature-name {
        font-size: 16px;
    }
    
    .cvs-landing-feature-text {
        font-size: 16px;
    }
}