.filter-dropdown-active {
  color: #29353d;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-dropdown-off {
  color: #a0a0a0;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.cvs-dropdown-filter-list {
  padding: 0;
  list-style: none;
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 120px 0 0 25px;
}

.filter-list-li {
  padding: 0 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.filter-list-li a:hover {
  color: #29353d;
}

.cvs-dropdown {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  transform: translateY(-100%);
  opacity: 0;
}

.haws-dropdown {
  justify-content: flex-end;
}

.haws-filter-list {
  margin: 120px 25px 0 0;
  width: 100%;
  padding: 0 0 0 25px;
}

.haws-filter-list-li {
  padding: 0 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.cvs-dropdown-active {
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  #cvs-dropdown {
    display: flex;
  }

  .cvs-dropdown {
    position: fixed;
  }
}
