.contact-section {
  margin-top: 60px;
  height: calc(100vh - 60px);
  padding: 0 250px 0 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding: 50px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 15px 45px rgba(50, 50, 93, 0.041),
    0px 5px 15px rgba(0, 0, 0, 0.07);
}

.right {
    justify-content: flex-end;
    margin-left: 12.5px;
}

.contact-infos {
  display: flex;
  justify-content: space-between;
}

.contact-name {
  width: calc(100% - 70px);
}

.contact-email {
  width: calc(100% - 70px);
}

.contact-fields {
    width: calc(100% - 82.5px) !important;
}

.contact-input-field {
    width: max-content !important;
}