.contact-section {
  margin-top: 60px;
  height: calc(100vh - 60px);
  padding: 0 250px 0 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 900px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 15px 45px rgba(50, 50, 93, 0.041),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  margin: 25px 0 25px 0;
  overflow: hidden;
  height: 550px;
}

.contact-image {
  object-fit: cover;
  height: 100%;
  max-width: 40%;
  pointer-events: none;
}

.contact-content {
  display: flex;
  height: calc(100% - 100px);
  width: 70%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
}

.contact-header-text {
  font-size: 1.65rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.5rem;
  width: 100%;
  padding-bottom: 12.5px;
  margin-bottom: 12.5px;
  color: var(--black);
  border-bottom: 1px solid #dfdfdf;
}

.contact-sub-header {
  color: hsl(204, 20%, 30%) !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  margin: 12.5px 0 0 0;
}

.contact-text {
  font-size: 16px;
  color: hsl(204, 30%, 39%);
  font-weight: 400;
  margin: 12.5px 0 12.5px 0;
}

.technical-issues {
  display: flex;
  flex-direction: column;
}

.contact-sub-header-icon {
  font-size: 14px;
  color: hsl(204, 25%, 75%);
  margin-left: 8px;
}

.contact-btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: var(--orange);
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  text-shadow: 5px 0px 35px rgba(95, 95, 95, 0.15);
  width: max-content;
  width: -moz-max-content;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 0.2s;
  margin: 12.5px 0 37.5px 0;
  text-decoration: none;
}

.contact-btn:hover {
  opacity: 0.85;
}

.contact-btn-icon {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .contact-section {
    padding: 0 50px 0 50px;
  }
  
  .contact-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .contact-section {
    padding: 0;
    height: 100%;
  }

  .contact-container {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    padding: 25px;
    overflow: visible;
    margin: 0;
    height: 100vh;
  }

  .contact-content {
    padding: 0;
    height: auto !important;
    width: 100%;
  }

  .contact-image {
    display: none;
  }

  .bottom-btn {
    margin-bottom: 0;
  }
}