#reset-password-section {
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-container {
  padding: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 5px 5px 25px hsla(0, 0%, 65%, 15%);
  width: 450px;
}

#reset-password-form {
    width: 100%;
    overflow: hidden;
}

.reset-password-notice {
    color: var(--black);
    font-size: 17px;
    z-index: 2;
    font-weight: 400;
    margin: 25px 0 0 0;
    line-height: 28px;
    text-align: justify;
}

.reset-password-action {
    margin-top: 0;
}